<p-growl [(value)]="msgs"></p-growl>
<h1>Manage</h1>   
<div class="row">
  <div class="col-sm-6">
    <h3 class="first">Customers</h3> 
    <p-table [value]="customers" selectionMode="single" (onRowSelect)="onRowSelect($event)" [loading]="loading">
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
                <button type="button" pButton  *ngIf="!openC" icon="fa fa-plus" iconPos="left" style="float:right; margin-right:8px;" (click)="showC()"></button>
                <button type="button" pButton *ngIf="openC" icon="fa fa-minus" iconPos="left" style="float:right; margin-right:8px;" (click)="showC()"></button>
            </div>
            <div *ngIf="openC" style="text-align:left;">
                <form [formGroup]="customerAdd" (ngSubmit)="onCustomerAdd()">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                        <div class="ui-grid-row"> 
                            <div class="ui-grid-col-12"> 
                                Name:
                                <input pInputText type="text" formControlName="name" placeholder="Name" style="margin-bottom:3px;" />
                                <p-message severity="error" [text]="customerAdd.controls['name'].errors['required'] ? 'Name is required' : customerAdd.controls['name'].errors['maxlength'] ? 'Name can’t be more than 100 characters long' : ''" 
                                    *ngIf="!customerAdd.controls['name'].valid&&customerAdd.controls['name'].dirty"></p-message>
                            </div>  
                        </div> 
                        <div class="ui-grid-row">  
                            <div class="ui-grid-col-12">
                                Address:
                                <input pInputText type="text" formControlName="address" placeholder="Address"  style="margin-bottom:3px;" />
                                <p-message severity="error" [text]="customerAdd.controls['address'].errors['required'] ? 'Address is required' : customerAdd.controls['address'].errors['maxlength'] ? 'Address can’t be more than 100 characters long' : ''" 
                                    *ngIf="!customerAdd.controls['address'].valid&&customerAdd.controls['address'].dirty"></p-message>
                            </div> 
                        </div> 
                        <div class="ui-grid-row"> 
                            <div class="ui-grid-col-12">
                                <button pButton type="customerAdd.valid ? submit : button" label="Submit" [disabled]="!customerAdd.valid" ></button> 
                            </div> 
                        </div>  
                    </div> 
                </form>
            </div>
        </ng-template>
        <ng-template pTemplate="header" >
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th style="width:110px;"></th>
            </tr>
        </ng-template>
    <ng-template pTemplate="body" let-rowData let-customer >
        <tr [pSelectableRow]="rowData" >
            <td>
                {{customer.name}}
            </td>
            <td>
                {{customer.address}}
            </td>
            <td >
                <button type="button" class="ui-button-success" pButton icon="fa fa-edit" style=" margin-left: -1px; margin-right:10px" (click)="updateCustomerDialog(customer)"></button> 
                <button type="button" *ngIf="customer.ordersCount == 0" class="ui-button-danger" pButton icon="fa  fa-trash" (click)="deleteCustomer(customer.id)"></button>
                <button type="button" *ngIf="customer.ordersCount != 0" class="ui-button-danger" pButton icon="fa  fa-trash"  [disabled]="true"></button>
            </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="col-sm-6" *ngIf="orders" >
    <h3 class="first">{{name}} order(s)</h3> 
    <p-table [value]="orders">
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
                <button type="button" pButton *ngIf="!openO" icon="fa fa-plus" iconPos="left" style="float:right; margin-right:8px;" (click)="showO()"></button>
                <button type="button" pButton *ngIf="openO" icon="fa fa-minus" iconPos="left" style="float:right; margin-right:8px;" (click)="showO()"></button>
            </div>
            <div *ngIf="openO" style="text-align:left;">
                <form [formGroup]="orderAdd" (ngSubmit)="onOrderAdd()">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                        <div class="ui-grid-row"> 
                            <div class="ui-grid-col-12">
                                Number:
                                <input pInputText type="text" formControlName="number" placeholder="Number" style="margin-bottom:3px;" />
                                <p-message severity="error" [text]="orderAdd.controls['number'].errors['required'] ? 'Number is required' : orderAdd.controls['number'].errors['pattern'] ? 'Number Only' : ''" 
                                    *ngIf="!orderAdd.controls['number'].valid&&orderAdd.controls['number'].dirty"></p-message>
                            </div>  
                        </div> 
                        <div class="ui-grid-row">  
                            <div class="ui-grid-col-12">
                                Amount:
                                <input pInputText type="text" formControlName="amount" placeholder="Amount"  style="margin-bottom:3px;" />
                                <p-message severity="error" [text]="orderAdd.controls['amount'].errors['required'] ? 'Amount is required' : orderAdd.controls['amount'].errors['pattern'] ? 'Number Only' : ''" 
                                    *ngIf="!orderAdd.controls['amount'].valid&&orderAdd.controls['amount'].dirty"></p-message>
                            </div>  
                        </div> 
                        <div class="ui-grid-row">   
                            <div class="ui-grid-col-12">
                                Date:
                                <p-calendar formControlName="date" dataType="string"  dateFormat="mm.dd.yy"  placeholder="Date" >  </p-calendar> 
                                <p-message severity="error" [text]="orderAdd.controls['date'].errors['required'] ? 'Date is required' : orderAdd.controls['date'].errors['maxlength'] ? 'Address can’t be more than 100 characters long' : ''" 
                                    *ngIf="!orderAdd.controls['date'].valid&&orderAdd.controls['date'].dirty"></p-message>  
                            </div>  
                        </div> 
                        <div class="ui-grid-row">    
                            <div class="ui-grid-col-12">
                                    Description:
                                <input pInputText type="text" formControlName="description" placeholder="Description"  style="margin-bottom:3px;" />
                                <p-message severity="error" [text]="orderAdd.controls['description'].errors['required'] ? 'Description is required' : orderAdd.controls['description'].errors['maxlength'] ? 'Address can’t be more than 100 characters long' : ''" 
                                    *ngIf="!orderAdd.controls['description'].valid&&orderAdd.controls['description'].dirty"></p-message>
                            </div> 
                        </div> 
                        <div class="ui-grid-row"> 
                            <div class="ui-grid-col-12">
                                <button pButton type="orderAdd.valid ? submit : button" label="Submit" [disabled]="!orderAdd.valid" ></button> 
                            </div> 
                        </div>  
                    </div> 
                </form>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Date
                </th>
                <th>
                    Description
                </th> 
                <th style="width:110px;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td>
                    {{order.number}}
                </td>
                <td>
                    {{order.amount}}
                </td>
                <td>
                    {{order.date}}
                </td>
                <td>
                    {{order.description}}
                </td>
                <td>
                    <button type="button" class="ui-button-success" pButton icon="fa fa-edit" style=" margin-left: -1px; margin-right:10px" (click)="updateOrderDialog(order)"></button> 
                    <button type="button" class="ui-button-danger" pButton icon="fa  fa-trash" (click)="deleteOrder(order.id)"></button> 
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="5">
                    No records found
                </td>
            </tr>
        </ng-template>
    </p-table>  
  </div>  
</div> 

<p-dialog *ngIf="customer != null" header="Edit customer" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="300" [minY]="70" [baseZIndex]="10000">
    <form [formGroup]="customerUpdate" (ngSubmit)="onCustomerUpdate()">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row"> 
                <div class="ui-grid-col-12"> 
                    Name:
                    <input pInputText type="text" formControlName="name" placeholder="Name" style="margin-bottom:3px;"/>
                    <p-message severity="error" [text]="customerUpdate.controls['name'].errors['required'] ? 'Name is required' : customerUpdate.controls['name'].errors['maxlength'] ? 'Name can’t be more than 100 characters long' : ''" 
                        *ngIf="!customerUpdate.controls['name'].valid&&customerUpdate.controls['name'].dirty"></p-message>
                </div>  
            </div>   
            <div class="ui-grid-row">  
                <div class="ui-grid-col-12">
                    Address:
                    <input pInputText type="text" formControlName="address" placeholder="Address"  style="margin-bottom:3px;"/>
                    <p-message severity="error" [text]="customerUpdate.controls['address'].errors['required'] ? 'Address is required' : customerUpdate.controls['address'].errors['maxlength'] ? 'Address can’t be more than 100 characters long' : ''" 
                        *ngIf="!customerUpdate.controls['address'].valid&&customerUpdate.controls['address'].dirty"></p-message>
                </div>
            </div>   
            <div class="ui-grid-row"> 
                <div class="ui-grid-col-12">
                    <button pButton type="customerUpdate.valid ? submit : button" label="Submit" [disabled]="!customerUpdate.valid" ></button> 
                </div> 
            </div>   
        </div> 
    </form>
    <p-footer> 
        <button type="button" pButton icon="fa fa-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<p-dialog *ngIf="order != null" header="Edit order" [(visible)]="displayOrder" [modal]="true" [responsive]="true" [width]="450" [minWidth]="300" [minY]="70" [baseZIndex]="10000">
    <form [formGroup]="orderUpdate" (ngSubmit)="onOrderUpdate()">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row"> 
                <div class="ui-grid-col-12">
                    Number:
                    <input pInputText type="text" formControlName="number" placeholder="Number" style="margin-bottom:3px;" />
                    <p-message severity="error" [text]="orderUpdate.controls['number'].errors['required'] ? 'Number is required' : orderUpdate.controls['number'].errors['pattern'] ? 'Name can’t be more than 100 characters long' : ''" 
                        *ngIf="!orderUpdate.controls['number'].valid&&orderUpdate.controls['number'].dirty"></p-message>
                </div>  
            </div> 
            <div class="ui-grid-row">  
                <div class="ui-grid-col-12">
                    Amount:
                    <input pInputText type="text" formControlName="amount" placeholder="Amount"  style="margin-bottom:3px;" />
                    <p-message severity="error" [text]="orderUpdate.controls['amount'].errors['required'] ? 'Amount is required' : orderUpdate.controls['amount'].errors['pattern'] ? 'Address can’t be more than 100 characters long' : ''" 
                        *ngIf="!orderUpdate.controls['amount'].valid&&orderUpdate.controls['amount'].dirty"></p-message>
                </div>  
            </div> 
            <div class="ui-grid-row">   
                <div class="ui-grid-col-12">
                    Date:
                    <p-calendar formControlName="date" dataType="string"  dateFormat="mm.dd.yy"  placeholder="Date" >  </p-calendar> 
                    <p-message severity="error" [text]="orderUpdate.controls['date'].errors['required'] ? 'Date is required' : orderUpdate.controls['date'].errors['maxlength'] ? 'Address can’t be more than 100 characters long' : ''" 
                        *ngIf="!orderUpdate.controls['date'].valid&&orderUpdate.controls['date'].dirty"></p-message>
                </div>  
            </div> 
            <div class="ui-grid-row">    
                <div class="ui-grid-col-12">
                    Description:
                    <input pInputText type="text" formControlName="description" placeholder="Description"  style="margin-bottom:3px;" />
                    <p-message severity="error" [text]="orderUpdate.controls['description'].errors['required'] ? 'Description is required' : orderUpdate.controls['description'].errors['maxlength'] ? 'Address can’t be more than 100 characters long' : ''" 
                        *ngIf="!orderUpdate.controls['description'].valid&&orderUpdate.controls['description'].dirty"></p-message>
                </div> 
            </div> 
            <div class="ui-grid-row"> 
                <div class="ui-grid-col-12">
                    <button pButton type="orderUpdate.valid ? submit : button" label="Submit" [disabled]="!orderUpdate.valid" ></button> 
                </div> 
            </div>  
        </div> 
    </form>
    <p-footer> 
        <button type="button" pButton icon="fa fa-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>